.apartment-list {
    /* background-size: cover;   image later
    background-repeat: no-repeat; */
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}

.apartment-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.apartment-title {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-container {
    position: relative;
    width: 340px;
    height: 340px;
}

.card-container a {
    text-decoration: none;
}