.background-apartments-grid {
    background-color: lightgray;
    min-height: 50vh;
    border-radius: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}