.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    font-weight: 700;
    margin: 3rem 0;
}

.logo-kasa {
    margin-right: auto;
}

ul {
    padding: 0;
}

ul .nav-link {  
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin-right: 67px;
    border-bottom: solid 1px transparent;
} 

ul .nav-link:hover {
    border-bottom: solid 1px black;
}

ul .nav-link:visited {
    color: black;
}