.about-banner-container {
    width: 100%;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;

}

.about-banner {
    height: 223px;
    width: 90%;
    border-radius: 2rem;
    object-fit: cover; 

}

.about-collapse-container {
    max-width: 1024px;
    margin: auto;
}